[Unit]
Description=pbc_web_app
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/ron/server-web
Restart=on-failure
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target

sudo nano /etc/systemd/system/pbc_web_app.service

sudo systemctl daemon-reload


sudo systemctl start pbc_web_app

sudo systemctl status pbc_web_app
sudo journalctl -fu pbc_web_app

sudo systemctl restart pbc_web_app
sudo systemctl stop pbc_web_app
sudo systemctl enable pbc_web_app
sudo systemctl disable pbc_web_app



cd ~/server-web; yarn build; sudo systemctl restart pbc_web_app; sudo journalctl -fu pbc_web_app;